{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <h2>List of tasks</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Task title</th>
                    <th>Task description</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>
                        <form action="{{ path('removetask') }}" method="POST">
                            <input type="hidden" id="_method" name="_method" value="DELETE" />
                            <input type="hidden" name="task" value="{{ task.id }}"/>
                            <input class="btn btn-outline-danger btn-sm" type="submit" value="X">
                        </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <br>
            <a class="btn btn-primary" href="{{ path('createtask') }}" role="button">Add task</a>
        </div>
    </div>
{% endblock %}
